<div class="article_headline">
    <a href="{ARTICLE_LINK}">{ARTICLE_TITLE}</a>
</div>
<div class="text">
    <p>
       {ARTICLE_MESSAGE}
    </p>
</div>


<!--<header><p></p><p style="text-align:right; float:right">Kultur | 2016-01-28 10:50:13 | test_user</p><h5 class="headline">Text</h5><p></p></header>-->