<article id="pinboard">
                        <header>
                            <p>
                            
                            </p>
                            <p style="text-align:right;         float:right">{RIGHTHEAD}
                            </p>
                            <h5 class="headline">{LEFTHEAD}</h5><p>
                            </p>
                        </header>
                        <p class="pin_content">
                                {CONTENT}
                            </p>
                            <footer>
                                <p><a href=" ">{OPTION}</a></p>
                        </footer>
                    </article>
                </article>
            </section>
        </div>
        </div>
    </body>
</html>