<article id="content">
                    <nav id="c_navi">
                        {NAVI}
                        <!--<a class="button_tall" href=" ">Social</a>
                        <a class="button_tall" href=" ">News</a>
                        <a class="button_tall" href=" ">Events</a>
                        <a class="button_tall" href=" ">Kontakt</a>-->
                    </nav>