 <aside class="field_user">
                    <section id="login">
                        <form action=" " method="post">
                            <div></div>
                            <p>Benutzername:</p>
                            <input class="login" type="text" name="username">
                            <p>Passwort:</p>
                            <input class="login" type="password" name="pw">
                            <input id="login_submit" type="submit" value="Abschicken">
                            <p id="login_other_links">
                                <a href=" ">Registrieren</a>
                                <a href=" ">Passwort vergessen</a>
                            </p>
                        </form>
                    </section>
                    <div id="field_searchbar">
                        <form action=" " method="get">
                            <p>Suche:</p>
                            <input id="searchbar" type="search" autocomplete="on">
                        </form>
                    </div>
                    <section id="field_friends">
                            {FRIENDNAVI}
                            <!--<a class="navi_f_a" href=" ">Online</a>
                            <a class="navi_f_a" href=" ">Gruppen</a>
                            <a class="navi_f_a" href=" ">Alle</a>-->
                        <section id="fiend_list">
                            <section class="friend_borders">
                                <aside>
                                    {FRIENDS}
                                    <!--<img class="friend_list_avatar" src="./images/arbeitsmaterialien/bsp/bsp_friend.png" alt="friend avatar">
                                </aside>
                                <section>
                                    <p><a class="friend_link" href=" ">Elisabeth Barthory</a></p>
                                    <p><a class="friend_link" href=" ">Nachricht</a></p>
                                    <p><a class="friend_link" href=" ">Profil</a></p>-->
                                </section>
                            </section>
                        </section>
                    </section>
                </aside>
                <section id="cuting_line">
                </section>