@font-face{
    font-family : 'trado';
    src: url('./images/arbeitsmaterialien/font/trado.ttf') format('truetype');
}

html{
    height: 100%;
}

a{
    color: #4c4c4c;
}

a:hover{
    color: #000000;
}
.button_a{
    text-align: center;
    text-decoration: none;
    color: #4c4c4c;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-image: url('../img/hintergrund.png');
    background-size: cover;
    background-attachment: fixed;
}

#wrapper{
    width: 1073px;
    height: 100%;
    margin-right:auto;
    margin-left:auto;
    background-color: #ffffff;
    font-family: 'trado';
    display: table;
}

.button_small{
    font-size: 8pt;
    text-decoration: none;
    color: #4c4c4c;
}


/*----------Global Sections-----------------------------------*/

#headline{
    margin: 0px;
    padding: 0px;
    background-image: url(../img/header.jpg);
}

.field_user{
    width: 195px;
    height: 100%;
    margin: 0px;
    padding-left: 0px;
    display: table-cell;
}

#cuting_line{
    width: 38px;
    height: 100%;
    background-image: url("../img/linie_vertikal.png");
    display: table-cell;
}

#content{
    width: 859px;
    height: 286px;
    display: table-cell;
    vertical-align: top;
}
/*------------------------------------------------------------`
field_user
------------------------------------------------------------`*/


/*Avatar------------------------------------------------------*/
#avatar{
    z-index: 1;
    position:absolute;
}

#avatar_button{
    z-index: 2;
    position:relative;
}

#dummy1{
    width:100%;
    height: 155px;
}

#profile{
    width: 100%;
    height: 20px;
    background-color: #ffffff;
    opacity: 0.85;
    padding-bottom: 1px;
}

#profile:hover{
    background-color: #e5e5e5;
}

#logout{
    width: 100%;
    height: 20px;
    background-color: #ffffff;
    opacity: 0.85;
}

#logout:hover{
    background-color: #e5e5e5;
}


/*login--------------------------------------------------*/


#login{
    width: 195px;
    height: 195px;
    background-color: #e5e5e5;
    border-top-right-radius: 15px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
    border-color: #d4d4d4;
}

.login{
    width: 150px;
    height: 17px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #ffffff, #e5e5e5);
    padding: 0px;
    margin-top: 0px;
    margin-left: 17px;
}

#login form p{
    margin-left: 19px;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #4c4c4c;
    padding: 0px;
}

#login form div{
    height: 10px;
}

#login_submit{
    height: 17px;
    margin-left: 19px;
    margin-top: 7px;
    font-family: 'trado';
    font-size: 8pt;
}

#login_other_links{
    font-size: 8pt;
}

#login_other_links a{
    padding-right: 12px;
}

/*Searchbar----------------------------------------------*/

#field_searchbar{
    width: 100%;
    height: 75px;
    margin-top: 20px;
    padding-top: auto;
    padding-bottom: auto;
    border-top: 1px dotted;
    border-color: #e5e5e5;
}

#field_searchbar form{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 17px;
}

#field_searchbar form p{
    margin-top: 10px;
    margin-bottom: 0px;
    color: #4c4c4c;
}

#searchbar{
    width: 157px;
    height: 23px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #ffffff, #e5e5e5);
}

/*friends----------------------------------------------*/

#field_friends{
    width: 100%;
    height: 214px;
}


.navi_ul{
    padding-left: 0px;
    margin: 0px;
    display: table;
}

.navi_f_a{
    font-size: 8pt;
    text-decoration: none;
    color: #4c4c4c;
    width: 63px;
    height: 15px;
    display: table-cell;
    list-style: none;
    text-align: center;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
    border-top-right-radius: 5px;
    border-color: #e5e5e5;
}

.navi_f_a:hover{
    background-color: #e5e5e5;
    color: #4c4c4c
}

#fiend_list{
    width: 100%;
    height: 397px;
    overflow: auto;
    overflow-x: 0px;
}

.friend_borders{
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-color: #e5e5e5;
}

.friend_list_avatar{
    float: left;
}

.friend_borders section p{
    font-size: 8pt;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.friend_borders section p a{
    width: 100%;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: dotted;
    border-color: #e5e5e5;    
}



/*------------------------------------------------------------
content
------------------------------------------------------------*/

/*navi------------------------------------------------------*/

#c_navi{
    float:right;
    margin-right: 36px;
    padding-bottom : 19px;
}

.button_tall{
    text-align: center;
    vertical-align: middle;
    margin: auto;
    text-decoration: none;
    color: #4c4c4c;
    width: 170px;
    height: 39px;
    display: table-cell;
    border-width: 1px;
    border-style: dotted;
    border-color: #e5e5e5;
    font-size: 16pt;
}

.button_tall:hover{
    background-color: #e5e5e5;
}


/*pinwall---------------------------------------------------*/

#pinboard{
    clear: right;
    overflow: auto;
}

#pinboard header{
    vertical-align: middle;
    background: linear-gradient(to right, #f5f5f5 0%,#ffffff 61%,#ffffff 100%);
    border-top-width: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #e5e5e5;
    margin-bottom: 0px;
    margin-right: 36px;
}

#pinboard header img{
    float: left;
}

.content_avatar{
    width: 15px;
    height: 15px;
    padding-right: 5px;
}

#pinboard header p{
    font-size: 8pt;
    margin-top: 0px;
}

.pin_content{
    font-size: 11.3pt;
    hyphens: auto; 
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 36px;
}

#pinboard footer{
    vertical-align: middle;
    background: linear-gradient(to right, #f5f5f5 0%,#ffffff 61%,#ffffff 100%);
    border-top-width: 0px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #e5e5e5;
    margin-bottom: 0px;
    margin-right: 36px;
}

#pinboard footer p{
    font-size: 8pt;
    margin-top: 0px;
    margin-bottom: 0px;
}